<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Host used by the "Send Data" test button -->
    <add key="TestClientHost" value="192.168.11.9" />
    <!-- Default listening port, also used by the test button -->
    <add key="DefaultPort" value="4488" />
  </appSettings>
  <connectionStrings>
    <add name="LIMS_BREntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.60.73;initial catalog=LIMS_BR;persist security info=True;user id=sa;password=Local@dmin;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>